* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* 
        dark purple: #1a0b2e;
        purple: #230E3D;
        linear gradient: #f7e93f, #fb09b4, #9100f8,
        green: #00FF88;
    */
    --color-dark-purple: #1a0b2e;
    --color-purple: #230E3D;
    --color-bg-gradient: linear-gradient(to right top, #f7e93f 0%, #fb09b4 51%, #9100f8 100%)
}

/* Shared Style */
.font-inter {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}

.flex {
    display: flex;
}

.btn {
    border: none;
    padding: 12px 16px;
    border-radius: 50px;
    font-weight: 600;
    cursor: pointer;
}

.btn-primary {
    background: var(--color-bg-gradient);
    color: #fff;
}

.btn-secondary {
    color: #00FF88;
    background: transparent;
    border: 1px solid #00FF88;
}

.section-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 1rem;
    text-align: center;
    color: #fff;
}

/* Shared style end */

body {
    height: 100vh;
    background-image: var(--color-bg-gradient);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header Style */
header {
    background-color: var(--color-dark-purple);
    border-bottom: 1px solid #412567;
}

header nav {
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
}

header .logo a {
    font-size: 42px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

header .logo a>span {
    background: var(--color-bg-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header .nav-menu ul {
    display: flex;
    list-style: none;
}

header .nav-menu ul li {
    padding: 10px 1rem;
}

header .nav-menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

/* Hero Section Style */

.hero {
    min-height: 760px;
    background-image: url('./../assets/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.hero-container {
    max-width: 550px;
}

.hero-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./../assets/hero-circle.png');
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    margin: 0 auto;
}

.hero-img .badge {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 1.5rem;
    background-color: #00FF88;
    padding: 8px 16px;
    border-radius: 50px;
    color: var(--color-dark-purple);
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 3px 27px rgba(0, 255, 136, 0.50);
}

.hero-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2.5rem;
}

.hero-content h1 {
    font-size: 60px;
    font-weight: 800;
}

.hero-btns {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

/* .hero-img .microphone {
    position: absolute;
    z-index: 99;
} */

/* About Podcast */
#about {
    background-color: var(--color-dark-purple);
    padding: 50px 0;
}

.about-top-content {
    color: #fff;
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.about-top-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
    line-height: 1.75rem;
}

.stats {
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    border-top: 1px solid #ffffff20;
}

.stats .box h4 {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 1rem;
}

.stats .box p {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
}

/* Why Choose TechWave */
#why-choose {
    background-color: var(--color-purple);
    padding: 100px 0;
}

.why-choose-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.why-choose-grid .box {
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    padding: 40px;
}

.why-choose-grid .box img {
    max-width: 60px;
    width: 100%;
}

.why-choose-grid .box h4 {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

.why-choose-grid .box p {
    font-size: 1rem;
    color: #fff;
    line-height: 24px;
}

.audio-quality-box {
    grid-row: span 2;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.mobile-friendly, .global-community, .exclusive-interview {
    grid-column: span 2;
}

@media (max-width: 576px) {
    header .logo a {
        font-size: 1.825rem;
    }
    header .nav-menu {
        display: none;
    }
    .header-btn button {
        display: none;
    }

    .header-btn i {
        display: inline-block;
        color: #fff;
        font-size: 20px;
    }

    .hero {
        background-size: 100% 100%;
        min-height: 465px;
    }

    .hero-img {
        height: 180px;
        width: 180px;
    }

    .hero-img img {
        width: 50px;
        object-fit: cover;
    } 

    .hero-img .badge {
        right: -1rem;
    }

    .hero-content {
        margin-top: 1rem;
    }

    .section-title {
        font-size: 2rem;
    }

    #about {
        padding: 40px 0;
    }

    .about-top-content h1 {
        font-size: 32px;
    }

    .stats {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .stats .box h4 {
        font-size: 40px;
        margin-bottom: 0.875rem;
    }

    .stats .box p {
        font-size: 1rem;
    }

    .why-choose-grid {
        grid-template-columns: repeat(1, 1fr);
        margin-top: 1rem;
        gap: 1.5rem;
    }

    .why-choose-grid .box {
        grid-column: span 1;
        grid-row: span 1;
    }

    .why-choose-grid .box img{
        max-width: 50px;
    }
    .why-choose-grid .box h4 {
        font-size: 22px;
    }
}